@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

body {
    background: linear-gradient(45deg, #329680, #243545);
    min-height: 100vh
}

body::-webkit-scrollbar {
    display: none
}

.wrapper {
    max-width: 800px;
    margin: 80px auto;
    padding: 30px 45px;
    box-shadow: 5px 25px 35px #3535356b
}

.wrapper label {
    display: block;
    padding-bottom: 0.2rem
}

.wrapper .form .row {
    padding: 0.6rem 0
}

.wrapper .form .row .form-control {
    box-shadow: none
}

.wrapper .form .option {
    position: relative;
    padding-left: 20px;
    cursor: pointer
}

.wrapper .form .option input {
    opacity: 0
}


#sub {
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    color: #333
}

#sub:focus {
    outline: none
}

@media(max-width: 768.5px) {
    .wrapper {
        margin: 30px
    }

    .wrapper .form .row {
        padding: 0
    }
}

@media(max-width: 400px) {
    .wrapper {
        padding: 25px;
        margin: 20px
    }
}